[*.cs]

# IDE0290: 기본 생성자 사용
csharp_style_prefer_primary_constructors = none

# IDE0305: 컬렉션 초기화 단순화
dotnet_diagnostic.IDE0305.severity = none

# IDE0290: 기본 생성자 사용
dotnet_diagnostic.IDE0290.severity = none
